<!DOCTYPE html>
<html>
<head>
<style>
body {
background-color:white;

}

h1 {
color: black;
text-align:center;
font-size: 20px;
}

h2 {
color: red;
text-align:center;
font-size:30px;

}

h3 {
color: blue;
font-family:sans-serif;
text-align:center;
font-size:20px;

}

h4 {
color: black;
font-family:sans-serif;
text-align:center;
font-size:10px;

}

h5 {
color: black;
font-family:sans-serif;
text-align:center;
font-size:18px;

}
</style>

</head>
<body>
<h1>Doctor's Schedule</h1>
<h2>Dr Judith Churchill</h2>
<h3>Dermatology</h3>
<h4>Monday;Wednesday & Saturday Only</h4>
<h2>Dr Li Dong Xi</h2>
<h3>Urogiste</h3>
<h4>Tuesday;Wednesday to Saturday Only</h4>
<h2>Dr Cynthia Talia</h2>
<h3>General Surgery</h3>
<h4>Monday-Saturday</h4>>
<h2>Dr T.K. Kamala</h2>
<h3>ENT Specialist</h3>
<h4>Thursday Only</h4>
<h5>Please Do Not Hesitate To Contact Us for More Enquires!</h5>
</body>
</html>